.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  width: 100%;
}

.menuButton {
  display: none;
}

.desktopMenu {
  flex-grow: 1;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .menuButton {
    display: inline-block;
  }
}