.footer {
  background-color: #f0f0f0;
  padding: 10px 16px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.footerContent {
  width: 80%;
  margin: 0 auto;
  color: #333;
}

@media (max-width: 768px) {
  .footerContent {
    width: 100%;
    padding: 0 16px;
  }
}
